---
layout: Default
---

<div id="problem-statement" dir="rtl">
  <h1 style="text-align:center">{{page.title}}</h1>
  {{content}}
  <div>
    <br>
    <a href="https://github.com/shaazzz/FarsiCP/commits/master/{{ page.path }}">ترجمه کنندگان صفحه</a>
  </div>
  <style> 
    @font-face {
      font-family: 'byekan';
      src: URL('https://shaazzz.github.io/FarsiCP/Yekan.ttf') format('truetype');
    }
    #problem-statement * {
      font-family: 'byekan';
    }
    pre {
      direction: ltr;
    }
  </style>
</div>
